<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Happy Lunch Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<!--<div style="margin-top: 20px;margin-left: 50px">-->
<div class="container">
<h2> Administration : </h2>

    <p class="style1"> Manage Category : <a class="btn btn-primary btn-sm" href="/category/view">Go</a></p>
    <p class="style1"> Manage Product : <a class="btn btn-primary btn-sm" href="/product/view">Go</a></p>
    <p class="style1"> Manage Customer : <a class="btn btn-primary btn-sm" href="/customer/view">Go</a></p>
    <p class="style1"> Manage CustomerOrder : <a class="btn btn-primary btn-sm" href="/customer/order/view">Go</a></p>
    <p class="style1">Error Page : <a class="btn btn-primary btn-sm" href="/error">Go</a></p>
</div>
</body>
</html>